// ≥992px
@include media-breakpoint-down(lg) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  .logo {
    height: 45px;
    &__img {
      width: 89px;
      height: 45px;
    }
  }
  .section-title {
    font-size: 36px;
  }
  .menu {
    &-list__item {
      margin-left: 30px;
    }
    &-list__link {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .header {
    padding: 25px 0 65px;
    &__btn {
      padding: 17px 40px;
    }
    &__btn-text {
      font-size: 18px;
      line-height: 27px;
    }
  }
  .hero {
    padding-bottom: 47px;
    &__title {
      font-size: 48px;
      line-height: 64px;
      margin-bottom: 27px;
      &::after {
        width: 48px;
        height: 70px;
        right: 5px;
      }
    }
    &__text {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 33px;
    }
    &__btn {
      border-radius: 5px;
      padding: 22px 79px;
    }
    &__btn-text {
      font-size: 24px;
      line-height: 36px;
    }
    &__image {
      max-width: 422px;
      max-height: 337px;
    }
  }
  .skills {
    &__title {
      margin: 0 auto 58px;
    }
    &-cards {
      row-gap: 13px;
      column-gap: 13px;
    }
    &-card {
      &-1 {
        .skills-card__image {
          max-height: 260px;
        }
      }
      &-4 {
        .skills-card__body {
          padding: 0 20px 40px 30px;
        }
        .skills-card__image {
          width: 70%;
        }
      }
      &__image {
        max-height: 210px;
      }
      &__title {
        font-size: 22px;
      }
      &__text {
        font-size: 14px;
        line-height: 21px;
      }
      &__btn {
        font-size: 18px;
        line-height: 27px;
        padding: 14px 35px;
        margin: 11px auto 0 0;
      }
    }
  }
  .about {
    padding: 105px 0 100px;
    &__title {
      margin-bottom: 13px;
    }
    &__text {
      margin-bottom: 40px;
    }
    &__column-number {
      font-size: 30px;
    }
    &__image {
      width: 318px;
      max-height: 290px;
      margin-top: -215px;
    }
  }
  .pricing {
    padding-bottom: 140px;
    &__title {
      margin-bottom: 10px;
    }
  }
  .pricing-card {
    max-width: 270px;
    &__image {
      max-height: 270px;
      margin-bottom: 15px;
    }
    &__title {
      font-size: 22px;
      line-height: 34px;
    }
    &__text {
      margin: 14px 0 31px;
    }
    &__price {
      max-width: 205px;
    }
    &__period {
      font-size: 24px;
      line-height: 36px;
    }
    &__value {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .contacts {
    padding-bottom: 160px;
    &__title {
      margin-bottom: 3px;
    }
    &__image {
      height: 290px;
    }
    &__text {
      margin-bottom: 34px;
    }
    &__subscribe {
      max-width: 530px;
    }
    &__input {
      height: 60px;
      width: 323px;
      padding: 23px 10px 16px 38px;
      font-size: 14px;
      line-height: 21px;
      margin-right: 14px;
      &::placeholder {
        font-size: 14px;
        line-height: 21px;
      }
    }
    &__btn {
      height: 60px;
      width: 193px;
    }
    &__btn-text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
// ≥768px
@include media-breakpoint-down(md) {
  body {
    font-size: 14px;
    line-height: 21px;
  }
  .section-title {
    font-size: 30px;
  }
  .menu {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    padding: 22px 15px 0 40px;
    max-height: 100vh;
    height: auto;
    width: 430px;
    min-width: 320px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transform: translateX(-300%);
    transition-duration: 0.6s;
    transition-timing-function: ease;
    z-index: 20;
    &-list {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
    }
    &-list__item {
      align-items: flex-start;
      margin: 13px 0 15px;
      width: 100%;
      &-list__item {
        margin-left: 0;
      }
    }
    &-list__link {
      font-size: 24px;
      line-height: 28px;
      margin-right: 0;
      color: #263238;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: #263238;
      }
    }
    &__mobile-layout {
      &--active {
        display: flex;
      }
    }
    &__close-button {
      position: absolute;
      display: flex;
      background: url("../images/close-button.svg") no-repeat;
      background-size: cover;
      background-position: center;
      width: 20px;
      height: 20px;
      top: 32px;
      right: 24px;
      cursor: pointer;
    }
    &__logo {
      display: flex;
      position: relative;
      margin: 17px 0 57px;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -21px;
        background: #c4c4c4;
      }
    }
    &__register {
      display: flex;
      margin: 62px 0 0;
      padding-bottom: 30px;
    }
    &-list__btn {
      max-width: 210px;
      display: flex;
      color: #000000;
      background-color: #fff;
      border: 2px solid #263238;
      border-radius: 5px;
      padding: 16px 60px;
    }
    &__btn-text {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }
    &--active {
      transform: translateY(0);
      overflow-y: scroll;
    }
  }
  .hero {
    padding-bottom: 56px;
    &__title {
      max-width: 217px;
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 25px;
      &::after {
        width: 42px;
        height: 65px;
        right: -45px;
        bottom: 15px;
      }
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 32px;
    }
    &__btn {
      padding: 19px 67px;
    }
    &__btn-text {
      font-size: 18px;
      line-height: 27px;
    }
    &__image {
      max-width: 323px;
      max-height: 260px;
    }
  }
  .skills {
    &__title {
      margin: 0 auto 35px;
    }
    &-cards {
      row-gap: 10px;
    }
    &-card {
      &-1 {
        .skills-card__image {
          max-height: 214px;
        }
      }
      &-2 {
        .skills-card__image {
          justify-content: center;
        }
        .skills-card__img {
          width: 100%;
        }
      }
      &-4 {
        .skills-card__body {
          padding: 0 0 26px 21px;
        }
      }
      &__image {
        max-height: 220px;
      }
      &__body {
        padding: 0 10px 30px 17px;
      }
      &__btn {
        font-size: 16px;
        line-height: 24px;
        margin: 11px auto 0 0;
        padding: 13px 23px;
      }
    }
  }
  .about {
    padding: 52px 0 88px;
    &__title {
      margin-bottom: 0;
    }
    &__text {
      margin-bottom: 0;
    }
    &__column-number {
      font-size: 22px;
      line-height: 60px;
    }
    &__column-text {
      font-size: 13px;
      line-height: 19px;
    }
    &__image {
      width: 279px;
      max-height: 255px;
      margin-top: -135px;
    }
  }
  .pricing {
    padding-bottom: 65px;
    &__title {
      margin-bottom: 25px;
    }
  }
  .pricing-card {
    max-width: 220px;
    &__image {
      max-height: 220px;
    }
    &__title {
      font-size: 20px;
      line-height: 28px;
    }
    &__text {
      margin: 15px 0 30px;
    }
    &__price {
      width: 100%;
    }
    &__period {
      font-size: 22px;
      line-height: 33px;
    }
    &__value {
      margin-left: 4px;
    }
  }
  .contacts {
    padding-bottom: 112px;
    &__title {
      margin-bottom: 0;
    }
    &__image {
      height: 210px;
    }
    &__text {
      margin-bottom: 26px;
    }
    &__subscribe {
      max-width: 434px;
    }
    &__input {
      height: 50px;
      width: 283px;
      padding: 16px 10px 16px 24px;
      font-size: 12px;
      line-height: 18px;
      margin-right: 6px;
      &::placeholder {
        font-size: 12px;
        line-height: 18px;
      }
    }
    &__btn {
      height: 50px;
      width: 145px;
    }
    &__btn-text {
      font-size: 13px;
      line-height: 19px;
    }
  }
}

// ≥576px
@include media-breakpoint-down(sm) {
  .menu {
    padding: 48px 23px 0 33px;
    width: 100%;
    &__close-button {
      top: 63px;
      right: 32px;
    }
    &__logo {
      margin: 0 0 80px;
      &::after {
        bottom: -44px;
      }
    }
    &__register {
      margin: 80px 0 0;
    }
    &-list__btn {
      max-width: 330px;
      font-size: 22px;
      line-height: 33px;
      padding: 19px 116px;
    }
  }
  .header {
    padding: 39px 0 21px;
  }
  .menu {
    &__mobile-btn {
      width: 43px;
      height: 24px;
      &-line {
        width: 43px;
        height: 5px;
        margin-bottom: 5px;
        &--short {
          width: 30px;
        }
      }
    }
  }
  .hero {
    padding-bottom: 96px;
    &__information {
      text-align: center;
    }
    &__title {
      max-width: 100%;
      font-size: 34px;
      line-height: 45px;
      margin: 0 auto 26px;
      &::after {
        display: none;
      }
    }
    &__text {
      margin-bottom: 37px;
    }
    &__button {
      margin: 0 auto;
    }
    &__btn {
      font-size: 14px;
      line-height: 21px;
      padding: 18px 90px;
    }
    &__image {
      width: 389px;
      max-height: 311px;
      margin: 0 auto 17px;
    }
  }
  .skills {
    &__title {
      margin: 0 auto 40px;
    }
    &-cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(max-content, 1fr);
      row-gap: 10px;
      column-gap: 10px;
      justify-content: stretch;
    }
    &-card {
      display: flex;
      flex-direction: column;
      background: #f5f5f5;
      border-radius: 10px;
      &-1 {
        grid-row: 1/2;
        justify-content: stretch;
        .skills-card__image {
          max-height: 190px;
        }
      }
      &-2 {
        grid-row: 1/2;
        .skills-card__image {
          max-height: 190px;
        }
      }
      &-3 {
        grid-row: 2/3;
        .skills-card__image {
          max-height: 140px;
        }
      }
      &-4 {
        grid-row: 2/3;
        grid-column: span 1;
        .skills-card__image {
          width: 100%;
          max-height: 140px;
          order: -1;
        }
      }
      &__body {
        height: 100%;
        margin-top: 0;
        padding: 0 25px 36px 15px;
      }
      &__title {
        font-size: 18px;
      }
      &__text {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: auto;
      }
      &__btn {
        font-size: 14px;
        line-height: 21px;
        padding: 12px 18px;
        margin: 25px auto 0 0;
      }
    }
  }
  .about {
    padding: 84px 0 132px;
    &__title {
      text-align: center;
      margin-bottom: 23px;
    }
    &__text {
      text-align: center;
    }
    &__column-number {
      font-size: 24px;
    }
    &__column-text {
      font-size: 14px;
      line-height: 21px;
    }
    &__image {
      width: 333px;
      max-height: 304px;
      margin: 0 auto 25px;
    }
  }
  .pricing {
    padding-bottom: 165px;
    &__title {
      margin-bottom: 54px;
    }
  }
  .pricing-card {
    max-width: 100%;
    &:not(:last-child) {
      margin-bottom: 75px;
    }
    &__image {
      max-height: 300px;
    }
    &__title {
      font-size: 24px;
      text-align: center;
    }
    &__text {
      margin: 23px 0 30px;
      text-align: center;
    }
    &__price {
      width: 205px;
      margin: 0 auto;
    }
  }
  .contacts {
    padding-bottom: 145px;
    &__title {
      margin-bottom: 83px;
    }
    &__image {
      height: 322px;
    }
    &__text {
      margin: 34px 0 60px;
    }
    &__subscribe {
      max-width: 511px;
      border: 1px solid #8f95a5;
      border-radius: 10px;
    }
    &__input {
      height: 60px;
      width: 318px;
      padding: 20px 10px 20px 25px;
      border: none;
      border-radius: inherit;
      outline: none;
      font-size: 13px;
      line-height: 19px;
      margin-right: 0;
      &::placeholder {
        font-size: 13px;
        line-height: 19px;
      }
    }
    &__btn {
      height: 60px;
      width: 193px;
      border: none;
      border-radius: inherit;
      &:hover {
        background-color: #263238;
        color: #fff;
      }
    }
    &__btn-text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
@media (max-width: 320px) {
  body {
    font-size: 13px;
    line-height: 19px;
  }
  .menu {
    padding: 37px 15px 0 15px;
    &__close-button {
      width: 17px;
      height: 17px;
      top: 37px;
      right: 15px;
    }
    &__logo {
      margin: 0 0 69px;
      &::after {
        bottom: -20px;
      }
    }
    &__register {
      justify-content: center;
      margin: 70px 0 0;
    }
    &-list__btn {
      max-width: 300px;
      font-size: 20px;
      line-height: 30px;
      padding: 17px 100px;
    }
  }
  .logo {
    height: 36px;
    &__img {
      width: 71px;
      height: 36px;
    }
  }
  .menu {
    &__mobile {
      width: 34px;
      height: 19px;
      &-line {
        width: 34px;
        height: 4px;
        &--short {
          width: 24px;
        }
      }
    }
  }
  .header {
    padding: 36px 0 29px;
  }
  .hero {
    padding-bottom: 51px;
    &__title {
      font-size: 24px;
      line-height: 36px;
      margin: 0 auto 20px;
    }
    &__text {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 35px;
    }
    &__btn {
      padding: 18px 90px;
    }
    &__image {
      max-width: 274px;
      max-height: 219px;
      margin: 0 auto 16px;
    }
  }
  .skills {
    &__title {
      margin: 0 auto 32px;
    }
    &-cards {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: minmax(max-content, 1fr);
      row-gap: 20px;
      column-gap: 0;
      height: fit-content;
    }
    &-card {
      grid-row: auto;
      &-1 {
        .skills-card__image {
          max-height: 220px;
        }
      }
      &-2 {
        .skills-card__image {
          max-height: 220px;
        }
      }
      &-3 {
        .skills-card__image {
          max-height: 160px;
        }
      }
      &-4 {
        grid-column: span 1;
        .skills-card__body {
          width: 100%;
        }
        .skills-card__image {
          max-height: 160px;
        }
      }
      &__body {
        padding: 0 16px 45px;
      }
      &__text {
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 0;
      }
      &__btn {
        font-size: 14px;
        line-height: 21px;
        padding: 12px 40px;
        margin: 35px auto 0 0;
      }
    }
  }
  .about {
    padding: 50px 0 85px;
    &__title {
      margin-bottom: 24px;
    }
    &__column-number {
      font-size: 24px;
      line-height: 40px;
    }
    &__column-text {
      font-size: 15px;
      line-height: 22px;
    }
    &__image {
      max-width: 283px;
      max-height: 283px;
      margin: 0 auto 23px;
    }
    &__columns {
      align-items: center !important;
      flex-direction: column;
      margin-top: 30px;
    }
    &__column {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  .pricing {
    padding-bottom: 72px;
    &__title {
      margin-bottom: 50px;
    }
  }
  .pricing-card {
    &:not(:last-child) {
      margin-bottom: 63px;
    }
    &__image {
      max-height: 250px;
    }
    &__title {
      font-size: 18px;
      line-height: 28px;
    }
    &__text {
      margin: 30px 0 38px;
    }
    &__price {
      width: 170px;
      margin: 0 auto;
    }
    &__period {
      font-size: 18px;
      line-height: 27px;
    }
    &__value {
      font-size: 14px;
      line-height: 21px;
      margin-left: 4px;
    }
  }
  .contacts {
    padding-bottom: 57px;
    &__title {
      margin-bottom: 38px;
    }
    &__image {
      height: 230px;
    }
    &__text {
      margin: 38px 0 31px;
    }
    &__subscribe {
      flex-direction: column;
      max-width: auto;
      border: none;
      border-radius: inherit;
    }
    &__input {
      height: 50px;
      width: 100%;
      padding: 16px 15px 16px 26px;
      border: 1px solid #8f95a5;
      border-radius: 5px;
      margin-bottom: 17px;
      font-size: 12px;
      line-height: 18px;
      &::placeholder {
        font-size: 12px;
        line-height: 18px;
      }
    }
    &__btn {
      width: 100%;
      border: 1px solid #8f95a5;
      border-radius: 5px;
    }
    &__btn-text {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
